footer {
    padding-left: var(--padding--father--box--footer);
}

.footer-top {
    --spacing: 25px;
    --columns: var(--number-column--footer--in--view);
    margin-left: calc(-1 * var(--spacing));
    height: var(--height--footer--top);
    padding: var(--padding--box--footer);
    background-color: #0E0E0E;
    color: white;
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    align-items: center;
}

.block-item-footer {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    border-radius: 5px;
    border-radius: 5px;
    height: 80%;
}


/* setting cái đầu tiên và cái cuối cùng */

.block-item-footer:first-child {
    align-items: flex-start;
}

.title-footer {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 68px;
}

.title-footer>a {
    height: 68px;
}

.line-item {
    display: flex;
    padding: 5px 0;
    /* border-bottom: 1px solid #353535; */
    min-height: 33px;
    align-items: center;
}

.line-item>i {
    padding-right: 10px;
}

.line-item>p {
    color: #b8b8b8;
}

.box-icon-footer {
    margin-top: 10px;
}

.box-icon-footer>i {
    padding-right: 5px;
    font-size: 17px;
}

.footer-bottom {
    height: var(--height--footer--bottom);
    background-color: #1C1C1C;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Responsive */

@media (min-width:320px) and (max-width:1065px) {
    .footer-top {
        height: auto;
        padding-bottom: 16px;
        align-items: inherit;
    }
}